p{
text-align:center;
}
footer{
text-align:center;
}
div {
text-align:center}
title{
text-align: center
}
iframe{
justify-content:center}

tr{
border:solid gray 3em;
boder-shadow: box-border;
}
td{

border:solid gray 3em;
boder-shadow: box-border;
}
tbody{
border: solid gray 3em;
border-shadow:box-border;
}
1
{
    font-weight:bold;
}
