p{
text-align:center;
font-size : 3em;
font-weight:bold;
}
container {
box-style:box-border;
box-sizing: border-box;
margin:3px;
padding:2px;

}
 
footer{
text-align:center;
}
span {
font-weight:bold;
}
p1{
font-weight:bold;
}
div {
text-align:center}
title{
text-align: center
}
iframe{
justify-content:center}

tr{
border:solid gray 3em;
boder-shadow: box-border;
}
td{

border:solid gray 3em;
boder-shadow: box-border;
}
tbody{
border: solid gray 3em;
border-shadow:box-border;
}
1
{
    font-weight:bold;
}
